    <div id="wrapper">
		<div id="first-div" >
			<img class= "logo-img" src="../../assets/images/logo.png"/>
		</div> 
		<div id="second-div" >
            <span>Store &nbsp; &nbsp;</span>
            <span>Products & Services &nbsp; &nbsp;</span>
            <span>Help & Support &nbsp; &nbsp;</span>
            <span class="search-icon">   <i class="fa fa-search fa-x" aria-hidden="true"> </i> 
               </span>
            <span class="padding-l15">PERSONAL &nbsp;</span>
            <span> <i class="fa fa-angle-down fa-x" aria-hidden="true">

            </i></span>
		</div>
	</div>