ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }

  .carousel-wrapper {
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
    padding-top: 15%;
  /* cursor: all-scroll; */
  }
.carousel-wrapper-style{
    background-image:  url("../../assets/images/bgimg.jpg");
    position:fixed;
    height:100%; 
    left:12%;
    right:12%;
}
.info-text{
    padding: 5%;
    padding-left: 20%;
    position: absolute;
    width: 7%;
    font-size: 18px;
}
.carousel-section{
    position:relative;
}

